extends layout
  
block content 
  
  
  .row.justify-content-center
    
    .col-lg-3.align-self-start      
      .form-check
        form.container(method='POST' action='/user-management/createuser')
          //gathering current user from session
          input(type='text' name='concerns' value='newemployee' hidden)
          label.form-check-label(for='flexRadioDefaultNew')
            button(type='submitt')
              .card.mb-3
                .card-body
                  h5.card-title Create employee
                  //p.card-text.text-dark
    .col-lg-3.align-self-center
      .form-check
        form.container(method='POST' action='/user-management/deleteuser')
          //gathering current user from session
          input(type='text' name='concerns' value='employeeleaving' hidden)
          label.form-check-label(for='flexRadioDefaultLeaving')
            button(type='submitt')
              .card.mb-3
                .card-body
                  h5.card-title Delete employee
                  p.card-text.text-dark
    .col-lg-3.align-self-end
      .form-check
        form.container(method='POST' action='/user-management/modifyuser')
          input(type='text' name='concerns' value='employeechanging' hidden)
          label.form-check-label(for='flexRadioDefaultChanging')
            button(type='submitt')
              .card.mb-4
                .card-body
                  h5.card-title Modify employee
                  p.card-text.text-dark
    section.d-flex.flex-column.align-items-center.justify-content-center.py-4                    
      .row.justify-content-center
      .col-lg-6.col-md-6.justify-content-center
          .d-flex.justify-content-center.py-4
          //button.btn.btn-primary(type='submit') 
              

