extends layout

block content
  //h1= message
  //h2= error.status
  //pre #{error.stack}
  main
    .container
      section.section.error-404.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center
        h1
        h1 
          //a.logo.d-flex.align-items-center.w-auto(href='/user-management/')
              img(src='assets/img/enko-modern-logo.png' alt='')
              span.d-lg-block.text-success Enko Education
        h3 
          | An error occured on this site because of: 
        h2=message 
          |   
        h3 If you think this is an error,
          a(href="mailto:it@enkoeducation.com&subject='Entry-Form: Login Error'")  please, email the IT team 
        h3 and we will get back to you within 24 opened hours.
        h2
        a.btn(href='/user-management/') Back to home
        //img.img-fluid.py-5(src='assets/img/not-found.svg' alt='Page Not Found')
        