extends layout


  
block content   
  script(type='text/javascript' src='javascripts/boostrapEffet.js')
  .row.lg-6.justify-content-center
      .row-lg-6.justify-content-center 
          form.row.g-3.needs-validation.justify-content-center(novalidate='' action='/user-management/' method='post')
              include ./sub-formAddUser/sub-generalInfo.pug                
              include ./sub-formAddUser/sub-ENKOInfo.pug              
              include ./sub-formAddUser/sub-ITTools.pug         
              include ./sub-formAddUser/sub-groups.pug              
              section.d-flex.flex-column.align-items-center.justify-content-center(style="width: 75%")
                  .row.justify-content-center( data-toggle='tooltip' data-placement='top' title='\
                      After submiting this form, you will not be able to rollback. It is strongly recommand to read twice.')                          
                      #onsubmitemailfeedback.justify-content-center.py-4 Please Verify 
                          a(href='#proposedemail') &nbsp the proposed email field 
                          | &nbsp before submitting the form
                      button#btnOnSubmitt.btn.btn-secondary(type='submit' disabled='' onclick="checkAddUserForm()" btnOnSubmitt="checkAddUserForm()") Submit the form
                  