extends layout
  
block content  
    section.d-flex.flex-column.align-items-center.justify-content-center.py-4
      .container
        .row.justify-content-center
          .col-lg-12.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
            .d-flex.justify-content-center.py-4
              a.logo.d-flex.align-items-center.w-auto(href='/user-management/')
                img(src='assets/img/enko-modern-logo.png' alt='')
                span.d-lg-block.text-success Enko Education
            // End Logo
            p
              | Hello 
              strong #{session.username}, 
              |  You are about to change information on an employee. 
              a(href='/user-management/logout') &nbsp Close this app
    .row.lg-6.justify-content-center
        .row-lg-6.justify-content-center
            form.row.g-3.needs-validation.justify-content-center(method='post' action='/user-management/' novalidate='')
                .card(style="width: 75%")
                    .card-body
                        h5.card-title Please describe the exact changes in the contract (position, salary, employment type, ...)
                        // General Form Elements                         
                      
                        .col-4
                          //gathering current user from session
                          input.form-control(type='text' name='usecase' required='' value='modifyuser' hidden)
                          label.form-label(for='yourUsername') Username
                          .input-group.has-validation
                            .input-group.mb-3
                              input.form-control(type='text' name='employeeid' pattern="[A-Za-z]{1,}.[A-Za-z]{1,}" minLength="3" placeholder="firstname.lastname" aria-label="Recipient's username" aria-describedby='basic-addon2' required='' )
                              span#basic-addon2.input-group-text @enkoeducation.com
                              .invalid-feedback please provide your Firstname and lastname separated with a point
                   
                        .col-md-6
                          label.form-check-label(for='employeeid') Choose the changing topic then type                       
                          .form-check
                            input#flexRadioDefaultorg.form-check-input(type='checkbox' value='organisation' name='change')
                            label.form-check-label(for='flexRadioDefaultorg')
                              | Organisation
                              input#validationCustomOrg.form-control(type='text' name='organisation')                                   
                        
                          .form-check
                            input#flexRadioDefaultpos.form-check-input(type='checkbox' value='position' name='change')
                            label.form-check-label(for='flexRadioDefaultpos')
                              | Position
                              input#validationCustomPos.form-control(type='text' name='position')    
                          .form-check
                            input#flexRadioDefaultCon.form-check-input(type='checkbox' value='contracttype' name='change')
                            label.form-check-label(for='flexRadioDefaultCon')
                              | Contract type
                              input#validationCustom03.form-control(type='text' name='contracttype')    
                          .form-check
                            input#flexRadioDefaultEmp.form-check-input(type='checkbox' value='employmenttype' name='change')
                            label.form-check-label(for='flexRadioDefaultEmp')
                              | Employment type
                              input#validationCustom03.form-control(type='text' name='employmenttype') 
                              

                    section.d-flex.flex-column.align-items-center.justify-content-center.py-4                    
                        .row.justify-content-center
                        .col-lg-6.col-md-6.justify-content-center
                            .d-flex.justify-content-center.py-4
                            button.btn.btn-primary(type='submit') Submit form
                
