extends layout

block content
  .container
    section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
      .container
        .row.justify-content-center
          .col-lg-6.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
            .d-flex.justify-content-center.py-4
              a.logo.d-flex.align-items-center.w-auto(href='/user-management/')
                img(src='assets/img/enko-modern-logo.png' alt='')
                span.d-lg-block.text-success Enko Education
            // End Logo
            .card.mb-3(style="width: 80%")
              .card-body
                .pt-4.pb-2
                  h5.card-title.text-center.pb-0.fs-4.text-dark One stop employee service
                  p.text-center.small  Please use your ENKO Education account
                form.row.g-3.needs-validation(action='' method='post' novalidate='')
                  .col-12
                    .input-group.has-validationk
                      .input-group.mb-3
                    a.btn.btn-primary.w-100(type='submit' href='/user-management/auth/google') 
                      span.fa.fa-google Login
