doctype html
html
  head
    title
      |Entry-Exit Form
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    meta(content='' name='description')
    meta(content='' name='keywords')    
    //google Signin variables
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='google-signin-client_id' content='245661520998-kpur0fcekfgbdkgja419q3hddngcdhdg.apps.googleusercontent.com')
    script(src='https://apis.google.com/js/platform.js' async='' defer='')

    //Date formating
      script(src='https://momentjs.com/downloads/moment.min.js')
      script(type='text/javascript').
        function toTimeZone(time, zone) {
          var format = 'YYYY/MM/DD HH:mm:ss ZZ';
          return moment(time, format).tz(zone).format(format);
        } 
    // Favicons
    link(href='assets/img/favicon.ico' rel='icon')
    link(href='assets/img/enko-modern-logo.png' rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.gstatic.com' rel='preconnect')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
    

    // Vendor CSS Files
    link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
    link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(href='assets/vendor/quill/quill.snow.css' rel='stylesheet')
    link(href='assets/vendor/quill/quill.bubble.css' rel='stylesheet')
    link(href='assets/vendor/remixicon/remixicon.css' rel='stylesheet')
    link(href='assets/vendor/simple-datatables/style.css' rel='stylesheet')
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
    link(href='assets/vendor/aos/aos.css' rel='stylesheet')
    //link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    //link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
    //link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
    link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')

    //sweet alert messages
    //include flashMessage


    // Template Main CSS File
    link(href='assets/css/style.css' rel='stylesheet')

block content
  .container
    section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
      .container
        .row.justify-content-center
          .col-lg-6.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
            .d-flex.justify-content-center.py-4
              a.logo.d-flex.align-items-center.w-auto(href='/user-management/')
                img(src='assets/img/enko-modern-logo.png' alt='')
                span.d-lg-block.text-success Enko Education
            // End Logo
            .card.mb-3(style="width: 80%")
              .card-body
                .pt-4.pb-2
                  h5.card-title.text-center.pb-0.fs-4.text-dark One stop employee service
                  p.text-center.small  Please use your ENKO Education account
                form.row.g-3.needs-validation(action='' method='post' novalidate='')
                  .col-12
                    .input-group.has-validationk
                      .input-group.mb-3
                    a.btn.btn-primary.w-100(type='submit' href='/user-management/auth/google') 
                      span.fa.fa-google Login
