doctype html
html
  head
    title
      |Entry-Exit Form
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    meta(content='' name='description')
    meta(content='' name='keywords')
 
    // Favicons
    link(href='assets/img/favicon.ico' rel='icon')
    link(href='assets/img/enko-modern-logo.png' rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.gstatic.com' rel='preconnect')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
    

    // Vendor CSS Files
    link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
    link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(href='assets/vendor/quill/quill.snow.css' rel='stylesheet')
    link(href='assets/vendor/quill/quill.bubble.css' rel='stylesheet')
    link(href='assets/vendor/remixicon/remixicon.css' rel='stylesheet')
    link(href='assets/vendor/simple-datatables/style.css' rel='stylesheet')
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
    link(href='assets/vendor/aos/aos.css' rel='stylesheet')
    //link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    //link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
    //link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
    link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')

    //sweet alert messages
    include flashMessage


    // Template Main CSS File
    link(href='assets/css/style.css' rel='stylesheet')

  body
    block content
    footer#footer.footer
      .copyright
        | &copy; Copyright 
        strong
          span Enko Education
        | . All Rights Reserved
      .credits
        // All the links in the footer should remain intact.
        // You can delete the links only if you purchased the pro version.
        // Licensing information: https://bootstrapmade.com/license/
        // Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        | Designed by 
        a(href='https://enkoeducation.com/') Enko Education 
      // End Footer
    a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short
    // Vendor JS Files
    script(src='assets/vendor/apexcharts/apexcharts.min.js')
    script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='assets/vendor/chart.js/chart.min.js')
    script(src='assets/vendor/echarts/echarts.min.js')
    script(src='assets/vendor/quill/quill.min.js')
    script(src='assets/vendor/simple-datatables/simple-datatables.js')
    script(src='assets/vendor/tinymce/tinymce.min.js')
    script(src='assets/vendor/php-email-form/validate.js')
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css' rel='stylesheet' type='text/css')
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest' type='text/javascript')

    script(src='//unpkg.com/jquery@3.4.1/dist/jquery.min.js')
    script(src='//unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js')
    script(src='//unpkg.com/bootstrap-select@1.12.4/dist/js/bootstrap-select.min.js')
    script(src='//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js')

    // Template Main JS File
    script(src='assets/js/main.js')
