.card(style="width: 75%")
    script(type='text/javascript' src='javascripts/ITToolsChecker.js')
    .card-body.container
        .row
            h5.card-title Employee IT tools&nbsp
                i.bi.bi-question-circle(data-toggle='tooltip' data-placement='top' title='In this section, check or uncheck tools that employee will need to achieve his/her missions\
                \nNote: This list have been automatically checked when you choosed the employee position')
            .row
                .col
                    .form-check.form-switch
                    input#itasana.position.form-check-input(type='checkbox' value='asana' name='asana')
                    label.form-check-label(for='itasana') &nbsp Asana
                .col
                    .form-check.form-switch
                    input#itcanvas.position.form-check-input(type='checkbox' value='canvas' name='canvas')
                    label.form-check-label(for='itcanvas') &nbsp Canvas
                .col
                    .form-check.form-switch
                    input#itdocusign.position.form-check-input(type='checkbox' value='docusign' name='docusign')
                    label.form-check-label(for='itdocusign') &nbsp Docusign
                .col
                    .form-check.form-switch
                    input#itedadmin.position.form-check-input(type='checkbox' value='edadmin' name='edadmin')
                    label.form-check-label(for='itedadmin') &nbsp Ed admin
            .row
                .col
                    .form-check.form-switch
                    input#itgsuite.position.form-check-input(type='checkbox' value='gsuite' name='gsuite')
                    label.form-check-label(for='itgsuite') &nbsp Google Workspace
                .col
                    .form-check.form-switch
                    input#ithelpdesk.position.form-check-input(type='checkbox' value='helpdesk' name='helpdesk'  )
                    label.form-check-label(for='ithelpdesk') &nbsp Helpdesk
                .col
                    .form-check.form-switch
                    input#itjazzhr.position.form-check-input(type='checkbox' value='jazzhr' name='jazzhr' )
                    label.form-check-label(for='itjazzhr') &nbsp JazzHR
                .col
                    .form-check.form-switch
                    input#itmailchimp.position.form-check-input(type='checkbox' value='mailchimp' name='mailchimp')
                    label.form-check-label(for='itmailchimp') &nbsp Mailchimp 
            .row
                .col
                    .form-check.form-switch
                    input#itoffice365.position.form-check-input(type='checkbox' value='office365' name='office365')
                    label.form-check-label(for='itoffice365') &nbsp Office365    
                .col
                    .form-check.form-switch
                    input#itpayspace.position.form-check-input(type='checkbox' value='payspace' name='payspace')
                    label.form-check-label(for='itpayspace') &nbsp Payspace
                .col
                    .form-check.form-switch
                    input#itpipedrive.position.form-check-input(type='checkbox' value='pipedrive' name='pipedrive')
                    label.form-check-label(for='itpipedrive') &nbsp Pipedrive
                .col
                    .form-check.form-switch
                    input#itpowerbi.position.form-check-input(type='checkbox' value='powerbi' name='powerbi')
                    label.form-check-label(for='itpowerbi') &nbsp PowerBI 
            .row
                .col
                    .form-check.form-switch
                    input#itslack.position.form-check-input(type='checkbox' value='slack' name='slack' )
                    label.form-check-label(for='itslack') &nbsp Slack
                .col
                    .form-check.form-switch
                    input#itsurveymonkey.position.form-check-input(type='checkbox' value='surveymonkey' name='surveymonkey')
                    label.form-check-label(for='itsurveymonkey') &nbsp  SurveyMonkey
                .col
                    .form-check.form-switch
                    input#itturnitin.position.form-check-input(type='checkbox' value='turnitin' name='turnitin')
                    label.form-check-label(for='itturnitin') &nbsp  Turnitin
                .col
                    .form-check.form-switch
                    input#itzoom.position.form-check-input(type='checkbox' value='zoom' name='zoom')
                    label.form-check-label(for='itzoom') &nbsp  Zoom
