// Alert message for displaying an error
.alert.error
    input#alert1(type='checkbox')
    label.close(title='close' for='alert1')
        i.icon-remove
    p.text
        strong Error!
        |  This is an error message.