// Alert message for displaying information
.alert.info
  input#alert3(type='checkbox')
  label.close(title='close' for='alert3')
    i.icon-remove
  p.text
    | This alert message provides some information.