// A standard alert message
.alert
    input#alert5(type='checkbox')
    label.close(title='close' for='alert5')
        i.icon-remove
    p.text
        | This is a standard alert message with no style.
