// Alert message for displaying a success message
.alert.success
  input#alert2(type='checkbox')
  label.close(title='close' for='alert2')
    i.icon-remove
  p.text
    strong Success!
    |  This is a success alert.