// Alert message for displaying a warning
.alert.warning
  input#alert4(type='checkbox')
  label.close(title='close' for='alert4')
    i.icon-remove
  p.text
    strong Warning!
    |  This is warning alert.